import 'package:app/common/models/drug/guideline.dart';
import 'package:app/common/models/drug/warning_level.dart';

final nonCompilingPlaceholdersGuideline = Guideline(
  id: null,
  version: null,
  lookupkey: {
    null: [null],
  },
  externalData: [
    GuidelineExtData(
      source: null,
      guidelineName: null,
      guidelineUrl: null,
      implications: {
        null: null,
      },
      recommendation: null,
      comments: null,
    ),
  ],
  annotations: GuidelineAnnotations(
    implication: null,
    recommendation: null,
    warningLevel: WarningLevel.null,
  ),  
);