PRODUCTION_PORT=8000

# Set `DB_HOST` to `annotation-interface-db` if using with docker-compose
DB_HOST=localhost
DB_PORT=27017
DB_USER=changeme
DB_PASSWORD=changeme

# In the testing environment, variables `_TEST_FOO` will overwrite variables
# `FOO` defined above
_TEST_DB_PORT=27018
