name: App

on:
  push:
    paths:
      - '.github/workflows/app.yml'
      - 'app/**'

defaults:
  run:
    working-directory: ./app

env:
  JAVA_VERSION: 17.x
  FLUTTER_CHANNEL: stable
  FLUTTER_VERSION: 3.24.3

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ env.JAVA_VERSION }}
      - uses: subosito/flutter-action@v2
        with:
          channel: ${{ env.FLUTTER_CHANNEL }}
          flutter-version: ${{ env.FLUTTER_VERSION }}
      - run: flutter pub get
      - run: flutter pub run build_runner build
      - run: flutter analyze

  build-android:
    name: Build Android App Bundle
    needs: [lint]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ env.JAVA_VERSION }}
      - uses: subosito/flutter-action@v1
        with:
          channel: ${{ env.FLUTTER_CHANNEL }}
          flutter-version: ${{ env.FLUTTER_VERSION }}
      - run: flutter pub get
      - run: flutter pub run build_runner build
      - run: flutter build appbundle

  build-ios:
    name: Build iOS Package
    needs: [lint]
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ env.JAVA_VERSION }}
      - uses: subosito/flutter-action@v1
        with:
          channel: ${{ env.FLUTTER_CHANNEL }}
          flutter-version: ${{ env.FLUTTER_VERSION }}
      - run: flutter pub get
      - run: flutter pub run build_runner build
      - run: flutter build ios --release --no-codesign

  test:
    name: Test
    needs: [lint, build-android, build-ios]
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
          channel: ${{ env.FLUTTER_CHANNEL }}
      - uses: futureware-tech/simulator-action@v3
        with:
          model: 'iPhone 14'
      - run: flutter pub get
      - run: flutter pub run build_runner build
      - run: open -a Simulator.app
      - run: flutter test integration_test --coverage
      - uses: codecov/codecov-action@v3
        with:
          flags: app
          directory: app/coverage
