name: App

on:
  push:
    paths:
      - ".github/workflows/app.yml"
      - "app/**"
  pull_request:
    paths:
      - ".github/workflows/app.yml"
      - "app/**"

defaults:
  run:
    working-directory: ./app

env:
  JAVA_VERSION: 12.x
  FLUTTER_CHANNEL: stable
  FLUTTER_VERSION: 2.8.x

jobs:
  lint:
    name: Lint
    runs-on: [self-hosted, linux]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ env.JAVA_VERSION }}
      - uses: subosito/flutter-action@v1
        with:
          channel: ${{ env.FLUTTER_CHANNEL }}
          flutter-version: ${{ env.FLUTTER_VERSION }}
      - run: flutter pub get
      - run: flutter pub run build_runner build
      - run: flutter analyze

  test:
    name: Test
    runs-on: [self-hosted, linux]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ env.JAVA_VERSION }}
      - uses: subosito/flutter-action@v1
        with:
          channel: ${{ env.FLUTTER_CHANNEL }}
          flutter-version: ${{ env.FLUTTER_VERSION }}
      - run: flutter pub get
      - run: flutter pub run build_runner build
      # TODO(Benjamin-Frost): Enable this when we have tests
      # - run: flutter test

  build-android:
    name: Build Android APK
    needs: [lint, test]
    runs-on: [self-hosted, linux]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ env.JAVA_VERSION }}
      - uses: subosito/flutter-action@v1
        with:
          channel: ${{ env.FLUTTER_CHANNEL }}
          flutter-version: ${{ env.FLUTTER_VERSION }}
      - run: flutter pub get
      - run: flutter pub run build_runner build
      - run: flutter build apk

  # build-ios:
  #   name: Build iOS Package
  #   needs: [lint, test]
  #   runs-on: [self-hosted, macOS]
  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: actions/setup-java@v1
  #       with:
  #         java-version: ${{ env.JAVA_VERSION }}
  #     - uses: subosito/flutter-action@v1
  #       with:
  #         channel: ${{ env.FLUTTER_CHANNEL }}
  #         flutter-version: ${{ env.FLUTTER_VERSION }}
  #     - run: flutter pub get
  #     - run: flutter pub run build_runner build
  #     - run: flutter build ios --release --no-codesign

