name: Lab Server

on:
  push:
    paths:
      - '.github/workflows/lab-server.yml'
      - 'lab-server/**'
  pull_request:
    paths:
      - '.github/workflows/lab-server.yml'
      - 'lab-server/**'

defaults:
  run:
    working-directory: ./lab-server

jobs:
  lint:
    name: Lint
    runs-on: [self-hosted, linux]
    steps:
      - uses: actions/checkout@v2
      - run: yarn
      - run: yarn lint

  test-e2e:
    name: Test E2E
    runs-on: [self-hosted, linux]
    env:
      KEYCLOAK_AUTH_SERVER_URL: ${{ secrets.KEYCLOAK_AUTH_SERVER_URL }}
      KEYCLOAK_REALM: ${{ secrets.KEYCLOAK_REALM }}
      KEYCLOAK_CLIENT_ID: ${{ secrets.KEYCLOAK_CLIENT_ID }}
      KEYCLOAK_SECRET: ${{ secrets.KEYCLOAK_SECRET }}
    steps:
      - uses: actions/checkout@v2
      - run: yarn
      - run: yarn test:e2e:cov
      - uses: actions/upload-artifact@v3
        with:
          name: jest-coverage
          path: ./lab-server/coverage/coverage-summary.json

  build:
    name: Build
    runs-on: [self-hosted, linux]
    steps:
      - uses: actions/checkout@v2
      - run: yarn
      - run: yarn build

  deploy:
    name: Deploy
    needs: [lint, test-e2e, build]
    runs-on: [self-hosted, linux]
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd ${{ secrets.PROJECT_PATH }}
            git fetch origin main
            git reset --hard origin/main
            cd lab-server
            docker-compose --profile production up --build --force-recreate --no-deps -d

  update-jest-badges:
    name: Update Jest Badges
    needs: [test-e2e]
    runs-on: [self-hosted, linux]
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v3
        id: download
        with:
          name: jest-coverage
          path: ./coverage # Library required storing artificat in this specific directory
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - name: Generate Jest Badges
        uses: ./miscellaneous/jest-badges-generator
        with:
          branch-name: ${{ steps.extract_branch.outputs.branch }}
          jest-summary-path: ${{steps.download.outputs.download-path}}/coverage-summary.json
          badge-output-dir: ./badges/lab-server
